
/* ========================
        Pagging
=========================== */
html{
    overflow-x: hidden;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mt-50{
    margin-top: 50px;
}
.mt-60{
    margin-top: 60px;
}
.mt-70{
    margin-top: 70px;
}
.mt-80{
    margin-top: 80px;
}
.mt-90{
    margin-top: 90px;
}
.mt-100{
    margin-top: 100px;
}
.ml-10{
    margin-left: 10px;
}
.mb-0{
    margin-bottom: 0px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px !important;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-60{
    margin-bottom: 60px;
}
.mb-70{
    margin-bottom: 70px;
}
.mb-80{
    margin-bottom: 80px;
}
.mb-90{
    margin-bottom: 90px;
}
.mb-100{
    margin-bottom: 100px;
}
.pt-10{
    padding-top: 10px;
}
.pt-20{
    padding-top: 20px;
}
.pt-30{
    padding-top: 30px;
}
.pt-40{
    padding-top: 40px;
}
.pt-50{
    padding-top: 50px;
}
.pt-60{
    padding-top: 60px;
}
.pt-70{
    padding-top: 70px;
}
.pt-80{
    padding-top: 80px;
}
.pt-90{
    padding-top: 90px;
}
.pt-100{
    padding-top: 100px;
}
.p-portofolio{
    padding-top: 200px;
    padding-bottom: 0px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-20{
    padding-bottom: 20px !important;
}
.pb-30{
    padding-bottom: 30px;
}
.pb-40{
    padding-bottom: 40px;
}
.pb-50{
    padding-bottom: 50px;
}
.pb-60{
    padding-bottom: 60px;
}
.pb-70{
    padding-bottom: 70px;
}
.pb-80{
    padding-bottom: 80px;
}
.pb-90{
    padding-bottom: 90px;
}
.pb-100{
    padding-bottom: 100px;
}
.p-10{
    padding: 10px;
}
.p-40{
    padding: 40px;
}
.plr-50{
    padding-left: 50px;
    padding-right: 50px;
}
.p-0202{
    padding: 0px 20px 0px 20px;
}
.p-50205020{
    padding: 50px 20px 50px 20px;
}
.bg-blue{
    background-color: #192c8b !important;
}
.bg-gray{
    background-color: #c0c0c0;
}
.p-service{
    padding-top: 200px;
    padding-bottom: 0px;
    padding-left: 75px;
}
.p-service-2{
    padding-top: 165px !important;
    padding-bottom: 0px;
    padding-left: 75px;
}
.p-service-row{
    padding-top: 25px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 25px;
}
.color-white{
    color: white;
}
/* ==============Home============== */
.padding-menu{
    padding: 40px;
}
.margin-menu-acr{
    margin-left: 65px;
    margin-top: 5px;
}
.span-acr{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    text-align: right;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.6;
    margin-right: 20px;
}
.span-menu{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.6;
    margin-right: 20px;
}
.span-bold-menu{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.h4-menu{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.h3-menu{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal !important;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.ml-menu{
    margin-left: 0px;
}
@media (max-width: 767px){
    .pos-vertical-center {
        top: 50%;
        transform: none;
        -webkit-transform: none;
    }
    .span-acr{
        font-size: 10px !important;
    }
    .padding-menu{
        padding-bottom: 20px !important;
        padding-top: 40px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .h4-menu{
        font-size: 12px !important;
    }
    .modal-container .modal-content {
        width: 50% !important;
        height: auto !important;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .type--fine-print {
        font-size: 10px !important;
    }
    .type--fine-print-2 {
        font-size: 10px !important;
    }
    .ml-menu{
        margin-left: 40px !important;
    }
    .modal-container .modal-content > .modal-close-cross {
        top: 0em !important;
        background: #222;
        width: 1em !important;
        height: 1em !important;
        text-align: center;
        border-radius: 50%;
        color: #fff;
    }
    .menu-fullscreen .modal-content .modal-close-cross {
        right: 1px !important;
        top: 8em;
        font-size: 38px;
    }
}
@media (max-width: 780px) {
    .p-top-service{
        padding-top: 30px;
    }
    .p-top-porto{
        padding-top: 75px !important;
    }
    .modal-container:before {
        width: 55%;
    }
    .menu-fullscreen .modal-content .modal-close-cross {
        right: 8%;
        top: 6.8em;
        font-size: 38px;
    }
}
@media (max-width: 767px) {
    .modal-container:before {
        width: 100%;
    }
}
@media (max-width: 539px) and (min-width: 425px) {
    .menu-ver-width{
        width: 30% !important;
        height: 100% !important; 
        top: 30% !important;
    }
}
@media (max-width: 539px) and (min-width: 300px){
    .menu-ver-width{
        width: 30% !important;
        height: 100% !important; 
        top: 30% !important;
    }
    .modal-container .modal-content {
        width: 70% !important;
        height: auto !important;
        padding-top: 2em;
        padding-bottom: 2em;
    }
}
.type--fine-print{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0.6;
    text-align: left;
    margin-bottom: 5px;
}
.type--fine-print2{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0.6;
}
/* ============End Home============ */


/* ==============About============== */
.padding-about{
    padding: 20px;
}
.project-thumb.hover-element .hover-element__reveal .project-thumb__title {
    padding: 1.85714286em;
    z-index: 2;
    position: relative;
    top: 75%;
    color: #fff;
}
.top-hover{
    top: 60% !important;
}
.border--round {
    border-radius: 10px;
    margin-bottom: 0px;
    width: 100%;
    height: 300px;
}
.slider[data-paging="true"]:not([class*='text-']) .flickity-page-dots {
    text-align: left;
}
.flickity-page-dots .dot {
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    border: none;
    margin: 0 0.46428571em;
}
.flickity-page-dots::after {
    content:  url("https://www.google.co.id/?hl=id") "Bright Version";
    float: right;
    margin-right: 75px;
}
.h1-about{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.p-about{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.6);
    opacity: 0.6;
}
.nama-team{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.menu-ver-width{
    width: 35% !important;
    height: 100% !important; 
}
.bg-center-top{
    background-position: center top !important;
}
.bg-center{
    background-position: center center !important;
}
.nama-position{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    mix-blend-mode: normal;
}
.bg-about-ct{
    background-position: center top !important;
    height: 400px !important;
    position: relative;
}
@media (min-height: 600px) and (min-width: 767px){
    .height-70 {
        height: 100vh !important;
    }
}
@media (max-width: 780px){
    .flickity-page-dots::after {
        float: right;
        margin-right: 5px;
    }
    .nama-team{
        font-size: 16px;
    }
    .nama-position{
        font-size: 12px;
        line-height: 15px;
    }
    .h1-about{
        line-height: 35px;
        font-size: 24px;
    }
    .type--fine-print2{
        font-size: 10px !important;
    }
    .menu-ver-width{
        width: 45% !important;
        height: 100% !important; 
    }
    .h1-contact{
        font-size: 22px !important;
        line-height: 30px !important;
    }
    .text-address{
        font-size: 14px !important;
    }
    .p-contact {
        padding: 0px 25px 0px 20px !important;
    }
    .p-service{
        padding-top: 100px;
        padding-bottom: 0px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .p-service-2{
        padding-top: 100px;
        padding-bottom: 0px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .p-service-row{
        padding-top: 50px;
        padding-bottom: 0px;
        padding-left: 15px;
        padding-right: 30px;
    }
    .teks-menu-about{
        text-align: left !important;
    }
    .plr-50{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .p-portofolio{
        padding-top: 25px !important;
        padding-bottom: 25px !important;
    }
    .bar.bg--dark {
        background: #131313;
    }
    .makeup-bg{
        height: 600px !important;
        width: 800px !important;
    }
}
.menu-fullscreen:before {
    background: #0e0e0e;
    opacity: 1.8;
}
.teks-menu-about{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    mix-blend-mode: normal;
}
/* ============ End About============ */


/* ==============Service============== */
.p-top-service{
    padding-top: 0px;
}
.bg--service{
    background-color: #0e0e0e;
}
.img-service{
    height: auto !important; 
    width: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.p-text-service{
    font-family:' Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.6);
}
.h1-service{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.h4-service{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: left;
    color: rgba(255, 255, 255, 0.4);
    mix-blend-mode: normal;
}
.span-service{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    text-align: left;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.6;
}
.h4-service{
    cursor: pointer;
    color: #FFFFFF;
}
.span-service:hover{
    cursor: pointer;
    color: #FFFFFF;
}
.tabs-container.tabs--vertical .tabs {
    width: 100%;
    float: left;
}
.tab-title:hover{
    opacity: 1;
}
.makeup-bg{
    height: 600px;
    width: 1000px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
}
.masonry .masonry__container .masonry__item {
    opacity: 5;
    pointer-events: none;
}
/* ============End Service=========== */

/* ==============Portofolio============== */
.p-top-porto{
    padding-top: 0px;
}
.text-nama-porto{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.span-tahun-porto{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
/* ============End Portofolio============ */


/* ============Inner Portofolio============ */
.bg-center{
    background-position: center !important;
}
.text-back{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    mix-blend-mode: normal;
}
.text-name-inner{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 49px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.text-inner-jenis{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;    
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.text-inner-year{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
a:hover {
    color: #fff;
}
/* ==========End Inner Portofolio========== */


/* contact */
.select{
    border: transparent !important;
    color: white;
    opacity: 0.8;
    background: #131313 !important;
}
.br-form{
    border-bottom: 1px solid #fff !important;
    border-top: 0px solid !important;
    border-left: 0px solid !important;
    border-right: 0px !important;
    border-radius: 0px !important;
    opacity: 0.5;
}
.br-white{
    color: white !important;
    opacity: 1 !important;
}
.p-contact{
    padding: 20px 75px 0px 75px;
}
.p-text{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    mix-blend-mode: normal;
}
.h1-contact{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.span-contact{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.6);
}
.text-address{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}
.span-address{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.4;
}
.text-ig{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.text-wa{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #131313;
    mix-blend-mode: normal;
}
.icon-wa{
    font-size: 20px;
}
.icon-ig{
    font-size: 20px;
    color: #fff;
}
.font-place{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    opacity: 0.6;
}

.cursor {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
    z-index:100;

}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: 5.2px;
    z-index:100;
    left: 5px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
}
